@-ms-viewport {
  width: device-width;
  zoom: 1;
}
html body {
  margin: 0;
  /*position: relative; */
  background-color: whitesmoke;
  font-family: "Montserrat", sans-serif;
}
:root {
  --background: rgba(88, 81, 187, 0.85);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* navigation styles start here */

header {
  background: var(--background);
  text-align: center;
  position: relative; /* ABSOLUTELY FUCKS EVERYTHING BELOW HEADER */
  z-index: 999;
  width: 100%;
}
a.active,
.active {
  color: darkblue;
}
/*allow it to gain focus, making it tabbable */
.nav-toggle {
  position: absolute !important;
  top: -9999px !important;
  left: -9999px !important;
}
.nav-toggle-label:hover {
  cursor: pointer;
}
.nav-toggle:focus ~ .nav-toggle-label {
  outline: 3px solid rgba(black, 0.75);
}

.nav-toggle-label {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 1em;
  height: 100%;
  display: flex;
  align-items: center;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
  display: block;
  background: white;
  height: 3px;
  width: 2em;
  border-radius: 2px;
  position: absolute;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
  content: "";
  position: absolute;
}

.nav-toggle-label span::before {
  bottom: 6px;
}

.nav-toggle-label span::after {
  top: 6px;
}

.logo {
  width: 150px;
  padding: 6px;
}

nav {
  position: absolute;
  text-align: left;
  top: 100%;
  left: 0;
  background: var(--background);
  width: 100%;
  transform: scale(1, 0);
  transform-origin: top;
  transition: transform 400ms ease-in-out;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  margin-bottom: 1em;
  margin-left: 1em;
}

nav a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  text-transform: uppercase;
  opacity: 0;
  transition: opacity 150ms ease-in-out;
}

nav a:hover {
  color: #000;
}

.nav-toggle:checked ~ nav {
  transform: scale(1, 1);
}

.nav-toggle:checked ~ nav a {
  opacity: 1;
  transition: opacity 250ms ease-in-out 250ms;
}

@media screen and (min-width: 800px) {
  .nav-toggle-label {
    display: none;
  }

  header {
    display: grid;
    grid-template-columns: 1fr auto minmax(600px, 3fr) 1fr;
  }

  .logo {
    grid-column: 2 / 3;
  }

  nav {
    all: unset;
    grid-column: 3 / 4;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  nav ul {
    display: flex;
  }

  nav li {
    margin-left: 3em;
    margin-bottom: 0;
  }

  nav a {
    opacity: 1;
    position: relative;
  }

  nav a::before {
    content: "";
    display: block;
    height: 5px;
    background: black;
    position: absolute;
    bottom: -0.75em;
    left: 0;
    right: 0;
    transform: scale(0, 1);
    transition: transform ease-in-out 250ms;
  }

  nav a:hover::before {
    transform: scale(1, 1);
  }
}
.services-drop {
  position: absolute;
  display: flex;
  flex-direction: column;
  opacity: 0;
  visibility: hidden;
  background-color: var(--background);
}
.services-drop li {
  position: relative;
  float: none;
  margin: 0;
  padding: 1em;
  font-size: 1rem;
}

nav ul li:hover > ul {
  opacity: 1;
  visibility: visible;
  padding-right: 20px;
  padding-left: 20px;
}
/* END NAVBAR STYLING */

/* START HOME PAGE STYLING */

.computer img {
  height: 100%;
  width: 100%;
}

.line {
  border-bottom: 3px solid black;
  display: block;
}
aside p {
  font-size: 60px;
  padding: 10px;
  text-align: center;
}
p {
  text-align: center;
  font-size: 18px;
  margin: 1em;
}
.container {
  display: flex;
  background-image: url(./images/swipe.webp);
  background-position: left 80%;
  justify-content: space-evenly;
  text-align: center;
}
.column {
  width: 23%;
  background-color: white;
  border: 1px solid black;
  box-shadow: 5px 5px 20px 8px rgb(83, 83, 224);
  clear: both;
}
.topimage {
  height: 50%;
  width: 100%;
}
.bar-headings {
  font-size: 30px;
  font-family: sans-serif;
  font-weight: bold;
}
.button {
  font-size: 18px;
  color: black;
  background-color: rgb(40, 175, 219);
  border-radius: 12px;
  border: 1px solid coral;
}
.button:hover {
  opacity: 0.5;
}
@media (max-width: 1000px) {
  .container {
    flex-direction: column;
  }
  .column {
    width: 100%;
    margin: 5px 0 5px 0;
  }
  .topimage {
    margin: 10px 0;
    height: 50%;
    width: 70%;
  }
}
/* HOME PAGE END */

/* OUR STORY PAGE */
.our-story {
  text-align: center;
}
.our-story p {
  font-size: 25px;
  font-weight: 100;
  margin: 1% 10% 1% 10%;
}
.our-story h1 {
  font-size: 30px;
}
.short-line {
  border: 0;
  height: 4px;
  width: 10%;
  background-color: rgb(14, 13, 13);
  text-align: center;
}
.double-line {
  border: 0;
  border-top: 15px double lightblue;
  width: 80%;
  text-align: center;
}
/* OUR STORY PAGE END */

/* END OUR STORY PAGE */

/* SERVICES PAGES START */
.social-media-descr {
  display: flex;
  justify-content: right;
  text-align: right;
}

/* SERVICES PAGES END */

.footer {
  height: auto;
  width: auto;
  text-align: center;
  background-color: lightblue;
  padding: 1em;
}

.footer img {
  margin-left: 5%;
  margin-right: 5%;
}
.page-ref-links {
  text-align: right;
  font-size: 15px;
}
